
<body>
    
  <div id="logo"><img src="../../../assets/img/logo.png"></div>  
  
  <div class="container">
    <div class="Slight"><h1> SlightStone</h1></div>
    
    <div class="infos"><p>{{playerName}}</p></div>
    
    <div class="img"><img src="{{imgPlayer}}"></div>
    
    <div><h1> VS </h1></div>

    <div class="recherche"><p>Recherche d'un adversaire...</p></div>
    
    <div class="load"><div class="lds-ripple"><div></div><div></div></div></div>
   
    <div class="stat"><p [hidden]="boolLoading" >Votre partie va bientot commencer...</p></div>
  </div>
</body>
