
body{

    background-image: url('../../assets/img/test.jpg');
    width: 100%;

}



h1{

    font-family: test;
    font-size: 7rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 15%;

}


.container{

    width: 75%;
    height: 100%;
    text-align: center;

}

.infos{

    font-family: 'test';
    text-align: left;
    font-size: 2rem;
}

.img{

    text-align: left;  
}


#logo{

    position: absolute;
    top:5px;
    left:5px;
    text-align: left;
    width: 25%;

}

.stat{

    font-family: 'test';
    text-align: center;
    font-size: 2rem;

}

@font-face {

    font-family: 'test';
    src: url('../../assets/img/lion_king.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.recherche{

    font-family: 'test';
    text-align: right;
    font-size: 2rem;

}

.load{

    text-align: right;

}

.lds-ripple {

    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

}
    .lds-ripple div {

    position: absolute;
    border: 4px solid rgb(7, 6, 6);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    
}
    .lds-ripple div:nth-child(2) {
        
    animation-delay: 0.6s;
}

    @keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
    }
    
#opponentName{
    font-family: 'test';
    font-size: 2rem;
    text-align : right;
    position: absolute;
    top : 150px;
    right:120px;

}
    
#opponentImage{
    position: absolute;
    top:200px;
    right:90px;
}