#hand-opponent{
    border:solid black;
    height:50%;
    width: 100%;
    text-align: center;
    overflow-x: scroll;
    overflow-y:hidden;
    white-space: nowrap;
    display: inline-block;
}

#backcard{
    height: 100%;
}