<div class="carte"> 
    <div id="firstline">
      <span *ngIf = "playable" id="mana">{{carte.coutMana}}</span>
      <button id="button" type="button" (click)="setDesc()">?</button>
    </div>

    <div id="name">
        <span>{{carte.nom}}</span>
    </div>

    <img *ngIf= "!descopen" id="image" src="../../../assets/img/{{carte.imageURL}}">
    <div *ngIf="descopen" id="image">{{carte.description}}</div>

    <div id="lastline">
      <span id="degats">{{carte.degats}}</span>
      <span *ngIf = "!playable" id="jouable">{{carte.jouable}}</span>
      <span id="vie">{{carte.pv}}</span>
    </div>
</div>