#board-player{
    position: absolute;
    border:solid blue;
    height:100%;
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    text-align: center;
}

#board-player > div{
    margin-left:5px;
    display:inline-block;
}

#for{
    height: 100%;
    width: 12%;
    background-color: brown;

}