#board-player{
    position: absolute;
    border: 2px dotted rgb(122, 118, 118);
    height:100%;
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    text-align: center;
    padding: 0.15%;
    background-image: url('../../../assets/img/marble.jpg');
}

#board-player > div{
    margin-left:5px;
    display:inline-block;
}

#for{
    height: 100%;
    width: 12%;
    border: 2px solid rgb(95, 62, 32);
    background-color: rgb(175, 146, 107);    
    border-radius: 10px;
}