#board-player{
    position: absolute;
    border:solid blue;
    height:100%;
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    text-align: center;
    padding: 0.15%;
    background-image: url('../../../assets/img/marble.jpg');
}

#board-player > div{
    margin-left:5px;
    display:inline-block;
}

#for, .cdk-drag {
    position: relative;
    height: 100%;
    width: 12%;
    background-color: brown;
    text-align: center;
}

#for:active{
    z-index: 2;
}

.cdk-drag-preview{
    opacity: 0.6;
}

.cdk-drag-placeholder{
    opacity: 0;
}