#hand-player{
    position: absolute;
    border: 3px solid;
    border-image: url('../../../assets/img/gold.jpg') 10 round;    
    height:100%;
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    text-align: center;
    overflow: visible;
    padding: 0.15%;
    background-image: url('../../../assets/img/blackMarble.jpg');

}

#hand-player > div{
    margin-left:5px;
    display:inline-block;
}

#for, .cdk-drag {
    position: relative;
    height: 100%;
    width: 12%;
    border: 2px solid rgb(95, 62, 32);
    background-color: rgb(175, 146, 107);    
    border-radius: 10px;
    text-align: center;
}

#for:active{
    z-index: 2;
}

.cdk-drag-preview{
    opacity: 0.6;
}

.cdk-drag-placeholder{
    opacity: 0;
}