#hand-player{
    position: absolute;
    border:solid black;
    height:100%;
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    text-align: center;
    overflow: visible;
    padding: 0.15%;
}

#hand-player > div{
    margin-left:5px;
    display:inline-block;
}

#for, .cdk-drag {
    position: relative;
    height: 100%;
    width: 12%;
    background-color: brown;
    border-radius: 10px;
    text-align: center;
}

#for:active{
    z-index: 2;
}

.cdk-drag-preview{
    opacity: 0.6;
}

.cdk-drag-placeholder{
    opacity: 0;
}