<div id="profile_player">  
  <p *ngIf="!joueurProfil" else templateName>{{game.joueur.pseudo}} </p> 
  <p *ngIf="joueurProfil" else templateName>{{game.adversaire.pseudo}} </p>
  <img id="id_img" src="../../../assets/img/Guerrier.png"><br>
  <i id="shield" class="material-icons">security</i>
  <span>{{game.joueur.armure}}</span>
  <i id="life" class="material-icons">favorite</i>
  <span>{{game.joueur.pv}}</span><br>
  <i id="mana" class="material-icons">flash_on</i>
  <span>{{game.joueur.mana}}</span>
</div>


