<div 
id="profile_player" 
cdkDropList 
[cdkDropListConnectedTo]="['board-opponent','board-player','hand-player']"
(cdkDropListDropped)="drop($event)">

  <p style="color:red" *ngIf="!joueurProfil && game.estJoueurCourant" else templateName>{{game.joueur.pseudo}} </p>
  <p *ngIf="!joueurProfil && !game.estJoueurCourant" else templateName>{{game.joueur.pseudo}} </p>

  <p style="color:red" *ngIf="joueurProfil && !game.estJoueurCourant" else templateName>{{game.adversaire.pseudo}} </p>
  <p *ngIf="joueurProfil && game.estJoueurCourant" else templateName>{{game.adversaire.pseudo}} </p>

  <img *ngIf="!joueurProfil" id="id_img" src={{game.joueur.image}}>
  <img *ngIf="joueurProfil" id="id_img" src={{game.adversaire.image}}><br>
  <i id="shield" class="material-icons">security</i>

  <span *ngIf="!joueurProfil" else templateName>{{game.joueur.armure}} </span> 
  <span *ngIf="joueurProfil" else templateName>{{game.adversaire.armure}} </span>

  <i id="life" class="material-icons">favorite</i>

  <span *ngIf="!joueurProfil" else templateName>{{game.joueur.pv}} </span> 
  <span *ngIf="joueurProfil" else templateName>{{game.adversaire.pv}} </span><br>

  <i id="mana" class="material-icons">flash_on</i>

  <span *ngIf="!joueurProfil" else templateName>{{game.joueur.manaDisponible}}/{{game.joueur.manaTotal}} </span> 
  <span *ngIf="joueurProfil" else templateName>{{game.adversaire.manaDisponible}}/{{game.adversaire.manaTotal}} </span>
</div>


