#id_img{
    width: 9rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
}

#profile_player{
    border: 2px solid;
    border-image: url('../../../assets/img/gold.jpg') 10 round;        
    height:100%;
    width: 100%;
    font-family: 'test';
    font-size: 26px;
    background-image: url('../../../assets/img/back.jpg');

}

#shield{
    margin-left: 2rem;
}

#life{
    margin-left: 2rem;
}

#mana{
    margin-left: 4rem;
}

@font-face {

    font-family: 'test';
    src: url('../../../assets/img/lion_king.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}