#board-opponent{
    position: absolute;
    border:solid red;
    height:100%;
    width: 100%;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    overflow: visible;
    text-align: center;
}

#board-opponent > div{
    margin-left:5px;
    display:inline-block;
}

#for{
    height: 100%;
    width: 12%;
    background-color: brown;
}