body{

    background-image: url('../../assets/img/test.jpg');
    width: 100%;
}

div{
    text-align: center;
}


#btnjouer{
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 9rem;
    height: 2.6rem;
    font-size: 1.2rem;
}

#logo{
margin-top: 1rem;
width: 7rem;
border-radius: 10px;

}

h1{
    font-family: test;
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
}

h3{
    font-family: test;
    font-size: 3rem;
}


@font-face {
    font-family: 'test';
    src: url('../../assets/img/lion_king.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }